<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/grape.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
    <title>UAS PBO</title>
</head>

<body>

    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{{ url_for('static',filename='img/grape.png') }}"
                    alt="anggur" height="60" width="60">
                    <h2>Klasifikasi</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{{ url_for('dashboard') }}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{{ url_for('pengguna') }}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>User</h3>
                </a>

                <a href="{{ url_for('data') }}">
                    <span class="material-icons-sharp">
                        poll
                    </span>
                    <h3>Prediksi</h3>
                </a>
            
                <a href="{{ url_for('logout') }}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        
        <main>
            <div class="recent-orders">
                <h1>User</h1>
                <div class="horizontal-container">
                    <button id="myBtn" onclick="openModal()">Tambah Data</button>
                    <div class="search-container">
                        <input type="text" id="searchInput" placeholder="Search...">
                        <button onclick="searchTable()">Search</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.email}}</td>
                                <td>{{ row.password}}</td>
                                <td>
                                    <a href="#" class="btn-edit" onclick="editUser('{{ row.id }}', '{{ row.name }}', '{{ row.email }}', '{{ row.password }}')">
                                        <img src="/static/img/edit.png" alt="Edit" />
                                    </a>
                                    <a href="#" onclick="return Hapususer('{{ row.id }}')" class="btn-delete">
                                        <img src="/static/img/bin.png" alt="Delete" />
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="showMoreBtn" onclick="showMore()">Show More</button>
                <button id="showLessBtn" style="display: none;" onclick="showLess()">Show Less</button>
            </div>

            <!-- Form modal untuk tambah data -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2>Tambah Data</h2>
                    <form id="addForm" method="post" action="{{ url_for('tambah_user') }}">
                        <br>
                        <label for="name">Nama:</label>
                        <input type="text" name="name" required>
                        <label for="email">Email:</label>
                        <input type="email" name="email" required>
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                        <button type="submit">Tambah</button>
                    </form>
                </div>
            </div>

            <!-- Form modal untuk edit data -->
            <div id="editModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="tutupModal()">&times;</span>
                    <h2>Edit Data Pengguna</h2>
                    <form id="editForm" method="post" action="">
                        <input type="hidden" id="UserId" name="user_id">
                        <br>
                        <label for="nama">Nama:</label>
                        <input type="text" id="name" name="name" required>
                        <label for="emails">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="pass">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <button type="button" onclick="submitForm()">Simpan Perubahan</button>
                    </form>
                </div>
            </div>


            
            {% if show_modal %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        openModal();
                    });
                </script>
            {% endif %}
        </main>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Admin</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{{ url_for('static',filename='img/avatar4.png') }}">
                    </div>
                </div>                
            </div>
        </div>
    </div>

    
    <script src="static/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>